# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Logs
logs/
*.log

# Personal Notes
.notes/
.prog_test
.pytest_cache/
.coverage
.pytest_cache
.mypy_cache/

cloudguard_report.json
cloudguard_report.json